python==3.8
nltk
pdfminer3
pyresparser
streamlit
pandas
#pafy
plotly
pymysql
streamlit-tags
Pillow
resume-parser
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
importlib-metadata==3.2.0
#youtube-dl
#git+https://github.com/mps-youtube/pafy.git
